@media screen and (min-width: 320px) and (max-width: 767px){
	.desktop-banner{
		display: none;
	}
	.header__top{
		padding: 15px 0 0;
		.header__top__back{
			.header__top__text{
				display: none;
			}
			.header__top__phone{
				padding-right: 20px;
				padding-bottom: 14px;
				margin: 0;
				width: 50%;
				text-align: right;
			}
			.header__top__city{
				padding-left: 20px;
				padding-bottom: 14px;
				margin: 0;
				width: 50%;
				float: left;
				a{
					font-size: 12px;
				}
			}
			.header__top__record{
				padding: 14px 0;
				margin: 0;
				display: block;
			    float: none;
			    text-align: center;
			    background: #f6f6f6;
				a{
					font-size: 12px;
				}
			}
		}
	}
	.header_bottom.ver__tab {
		margin: 0;
		div{
			display: none;
		}
	}
	.ver__mob.mb_open{
		.header_bottom_logo{
			display: none;
		}
		.header_bottom_icons{
			width: 100%;
    		text-align: right;
			.mb_mop{
				display: inline-block;
			}
		}
	}
	.ver__mob{
		margin: 0;
		padding: 24px 20px;
		position: relative;
		.header_menu_mobile{
			display: none;
		}
		.header_bottom_logo{
			flex-grow:6;
			text-align: center;
		}
		.search-menu-block{
			top: 12px;
			.row{
				margin: 20px;
				max-height: 30px;
				div{
					padding: 0;
				}
				.btn-block{
					padding: 0 10px 0 0;
					text-align: right;
					width: 100%;
					margin: 0;
				}
			}
			.search-input{
				font-size: 14px;
			}
			button{
				background: url(../img/search-active.png) center no-repeat;
				width: 18px;
				height: 17px;
				margin: 0 25px 0 0;
			}
		}
		.header__burger::before{
			margin-bottom: 5px;
		}
		.header_menu_mobile.open{
			display: block;
			top: 86px;
			.header__top__phone,.header__top__socserv{
				padding: 0 20px;
			}
		}
	}
	.left_menu__mobile{
		text-align: left;
		margin: 0 20px 20px;
		div{
			margin-bottom: 20px;
		}
		span::before{
			content: "";
			height: 20px;
			display: inline-block;
			position: relative;
		    top: 4px;
		    margin-right: 8px;
		}
		.linz::before{
			width: 42px;
			background: url('../img/linz.jpg');
		}
		.ochki::before{
			width: 51px;
			background: url('../img/ochki.jpg');
		}
		.opravi::before{
			width: 43px;
			background: url('../img/opravi.jpg');
		}
		a{
			font-size: 18px;
			line-height: 20px;
			font-weight: bold;
			color: #000;
		}
	}
	.offer_on_main{
		.offer_blocks{
			.p_blocks li{
				font-size: 18px;
				padding: 0 25px 0 0;
			}
		}
		.filter_content{
			.tabs-section label.tb{
				margin: 5px;
			}
		}
		.thumbnail{
			margin-bottom: 10px;
		}
	}
	.advantages{
		padding: 30px 20px;
		margin: 0;
		.adv_title{
			position: relative;
		}
		.owl-nav{
			left: 0;
			top: 10px;
		}
		.owl-carousel{
			padding-top: 70px;
		}
	}
	.interactive_block {
		margin: 0 auto 54px auto;
		overflow: auto;
		.video{
			display: none;
		}
		.cert{
			width: 100%;
		}
	}
	.news-main .news__block .col-news{
		margin-bottom: 20px;
	}
	footer{
		.footer__content{
			text-align: center;
		}
		.text-left{
			overflow: hidden;
		}
		.footerMenu{
			display: none;
		}
		.halva_logo .lineColum{
			float: unset;
			margin: 10px 0;
			width: 100%;
		}
		.companyInformation{
			margin: 25px auto;
    		max-width: 200px;
		}
		.soclinks{
			margin-top: 0;
		}
	}
	.footerMenu__mobile li{
		list-style-type: none;
		margin-bottom: 17px;
		a,a:hover{
			font-size: 16px;
			color: #fff;
		}
	}
	.page_const{
		h1{
			font-size: 24px;
		}
		a.bold_a,p{
			font-size: 16px;
		}
		p.main_p{
			font-size: 18px;
		}
		a.grey_a{
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 50px;
			display: block;
		}
	}
	.page_const,.pagePath,.banner__section{
		padding: 0 20px;
	}
	.visible-xs{
		display: block;
	}
	.catalog_blocks,.product_list{
		.product_item{
			min-height: 263px;
			.image{
				min-height: auto;
				.like_icons{
					position: relative;
					right: auto;
					span i{
						margin: 0 auto;
					}
				}
			}
			.flaglist{
				bottom: 0;
				.flag{
					font-size: 12px;
				}
			}
			span{
				font-size: 14px;
			}
		}
		.product_item:hover{
			.col-descr{
				margin-bottom: 9px;
			}
			.buy_one_click{
				margin: 7px 0;
			}
		}
		.name{
			font-size: 12px;
			margin: 0 17px 10px;
			line-height: 14px;
		}
		.col-buttons .add_basket{
			width: 125px;
			span{
				font-size: 14px;
				padding: 8px 0;
			}
		}
	}
	.catalog_list {
		.filter_content{
			display: inline-block;
			margin: 0;
			.tabs-sort{
				float: left;
			}
		}
		.filter_noselect{
			display: none;
		}
		h1{
			display: block;
		}
	}	
	.maker_block{
		overflow: hidden;
		.item{
			margin: 10px 0;
			display: flex;
		    align-items: center;
		    flex-direction: column-reverse;
		}
	}
	table.price{
		font-size: 14px;
		line-height: 24px;
		tr td:nth-child(2){
			width: 46%;
			max-width: 300px;
		}
	}
	.review_yandex{
		position: relative;
		a{
			margin: 0;
		}
	}
	.reviews_block{
		margin-top: 40px;
		display: block;
		.col_1,.col_2{
			margin: 0;
			width: 100%;
		}
	}
}
@media screen and (min-width: 768px) and (max-width: 1139px){
	.header__top{
		.header__top__back{
			margin: 0 20px;
			.header__top__city{
				margin: 0 40px 0 0;
			}
			.header__top__text{
				font-size: 12px;
				p{
					margin: 0 27px;
				}
			}
			.header__top__record{
				a{
					letter-spacing: 0;
					font-size: 12px;
				}
			}
		}
	}
	.header_bottom{
		margin: 23px 20px 25px;
		.mb{
			align-self: center;
		}
		.header__element{
			flex-grow:6;
			.header_search{
				float: right;
			}
			.search-menu-block .row{
				margin: 0 -15px;
				button{
					margin: 0 15px 0 0;
				}
				.close-search-btn{
					display: inline-block;
				}
			}
		}
		.header_menu_desktop{
			.menu_el{
				display: none;
			}
		}
		.header_bottom_logo img{
			width: 105px;
			margin: 0 10px 0 44px;
		}
		.header_menu_mobile.open{
			padding: 10px 0 34px;
			/*position: fixed;*/
		    top: 110px;
	   		.menu_el{
	   			margin: 0 auto;
	   			max-width: 250px;
	   		}
	   		.header__top__socserv{
	   			margin: 54px auto 0 auto;
	   			max-width: 250px;
	   		}
	   		.header__top__socserv {
	   			a{
	   				margin-right: 28px;
	   			}
	   		}
		}
	}
	.content{
		margin: 0 20px;
	}
	.offer_on_main{
		.filter_content{
			label.tb{
				font-size: 12px;
			}
			.ui.selection.dropdown{
				line-height: 8px;
			}
		}
	}
	.advantages,.brands_on_main .advantages{
		margin: 80px 20px;
		.owl-nav{
			left: auto;
			right: 0;
		}
	}
	.interactive_block{
		margin: 80px 20px;
		.cert img{
			padding-right: 22px;
		}
	}
	.news-main .news__block, footer .footer__content{
		margin: 0 20px;
	}
	footer{
		font-size: 12px;
	}
	.visible-sm{
		display: block;
	}
	table.price{
		tr td:nth-child(2){
			width: 60%;
		}
	}
}
@media screen and (min-width: 768px){
	.mobile-banner,.header_bottom.ver__mob,.left_menu__mobile,.footerMenu__mobile,.filter_button_ct{
		display: none;
	}
	.col-image{
		display: table;
		height: 253px;
	}
	.col-image > .image{
		display: table-cell;
		vertical-align: middle;
	}
	.product{
		height: 425px;
	}
}
@media screen and (max-width: 1139px){
	html,body,footer{
		overflow: auto;
	}
	header{
		margin: 0;
	}
	.header__top{
		.header__top__back{
			.header__top__socserv{
				display: none;
			}
			.header__top__phone a{
				font-size: 14px;
			}
		}
	}
	.header_bottom{
		display: -webkit-flex;
		display: flex;
		align-items: baseline;
		-webkit-align-items: baseline;
		.header__burger{
			cursor: pointer;
			margin-bottom: 10px;
		}
		.header__burger::before{
			content: "";
			background: url(../img/menu_mobile.png);
			width: 35px;
			height: 32px;
			display: block;
		}
		.header__burger.close::before{
			background: url(../img/icon-close.png);
			width: 20px;
			height: 20px;
			margin-left: 5px;
		}
		.header_menu_mobile{
			position: absolute;
		    left: -100%;
		    width: 100%;
		    /*transition: .4s all;*/
		    top: 0;
		    background: white;
		    z-index: 9999999999999;
		}
		.header_menu_mobile.open{
			padding: 10px 0 34px;
			left: 0;
		    overflow-y: auto;
		    .menu_el,.header__top__socserv{
		    	display: block;
		    }
		    .menu_el {
	   			.menu_inner.action a{
	   				color: #e5175b;
	   			}
	   			.menu_inner {
	   				padding: 0;
	   				margin: 25px 20px 4px;
	   				a.link{
	   					position: relative;
	   				}
	   			}
	   		}
	   		.list_inner.active a.link::after{
	   			top: 5px;
			    position: absolute;
			    left: auto;
			    right: -15px;
	   		}
	   		.header__top__socserv {
	   			margin-top: 54px;
	   		}
		    .menu_content{
	   			position: relative;
	   			box-shadow: none;
	   			border-top: none;
	   			margin: 0;
	   			.menu_contentb{
	   				display: block;
	   				padding: 20px 0 0;
	   			}
	   			.upmenu_cont ul li a{
	   				font-weight: normal;
	   				text-transform: none;
	   				padding-bottom: 15px;
	   			}
	   		}
		}
	}
	.content{
		/*overflow: auto;*/
		text-align: center;
		.main_banner{
			float: unset;
			width: 100%;
   			text-align: center;
		}
	}
	.filter_content{
		margin: 20px 0;
		/*overflow: hidden;*/
		.tabs-price{
			margin: 32px 0 0;
			text-align: left;
			padding: 0 15px;
		}
	}
	.left_menu,.hidden-xs{
		display: none;
	}
	.offer_on_main{
		margin-top: 37px;
		padding: 0 20px;
	}
	.filter_noselect{
		flex-wrap: wrap;
		.multifilter{
			margin-bottom: 18px;
		}
	}
}
@media screen and (min-width: 1140px){
	.header_bottom .header__burger,.header_bottom .header_block_mobile,.header_bottom .header_menu_mobile,.visible-xs,.visible-sm{
		display: none;
	}
	.header_bottom div {
		display: inline-block;
	}
	.header__top__back, .header_bottom, .content,.menu_contentb,.offer_blocks,.catalog_blocks,.advantages_on_main .advantages,.interactive_block,.news-main .news__block,.footer__content{
		width: 1140px;
	}
}