@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proximanova-reg.eot');
    src: url('../fonts/proximanova-reg.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-reg.woff') format('woff'), url('../fonts/proximanova-reg.ttf') format('truetype'), url('../fonts/proximanova-reg.svg#proximanova-reg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova Bold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_lt';
    src: url('../fonts/proximanova-light-webfont.eot');
    src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-light-webfont.woff') format('woff'), url('../fonts/proximanova-light-webfont.ttf') format('truetype'), url('../fonts/proximanova-light-webfont.svg#proxima_nova_ltlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ALSRubl';
    src: url('../fonts/ALSRubl.otf');
    font-weight: normal;
    font-style: normal;
}

*{	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none
}
html{
	height: 100%;
}
body{
	font-family: 'ProximaNova';
	font-size: 14px;
	font-weight: 400;
	color: #363636;
	height: 100%;
}
h1{
	font-size: 32px;
	line-height: 54px;
	font-weight: bold;
	text-transform: uppercase
}
h2{
	margin-bottom: 40px;
	font-size: 24px;
	line-height: 23px;
	font-weight: 900;
	text-transform: uppercase
}
h3{
	margin-top: 50px;
	font-size: 24px;
	line-height: 23px
}
a{
	outline: none;
	text-decoration: none
}
a:hover{
	color: #00aba4!important;
}
img{
	max-width: 100%;
	height: auto
}
.row{
	/*overflow: auto;*/
}
header{
	margin-bottom: 50px;
	position: relative;
	z-index: 1111;
	background: #fff;
}
.header__top__socserv{
	a {
		color: #626f78;
		margin-right: 30px;
		font-size: 12px;
	}
}
.header__top__phone{
	a{
		color: #111;
		font-weight: bold;
		font-size: 18px;
		letter-spacing: 0.04em;
	}	
}
.header__top{
	background: #dfedee;
	.header__top__back{
	margin: 0 auto;
		div{
			display: inline-block;
			margin: 10px 0;
		}
		.header__top__city{
			margin: 0 40px 0 55px;
			a{
				color: #111;
				border-bottom: 1px dotted #111;
				font-weight: bold;
				letter-spacing: 0.08em;
			}
		}
		.header__top__text{
			p{
				color: #627176;
				margin: 0 50px;		
			}
		}
		.header__top__record{
			float: right;
			a{
				color: #00666d;
				font-weight: bold;
				text-transform: uppercase;
				border-bottom: 1px dotted #00666d;
				letter-spacing: 0.03em;
			}
		}
	}
}
.header_bottom{
	margin: 20px auto 63px auto;
	display: block;
	.header_menu_desktop{
		margin: 0 7px 0 20px;
    	justify-content: space-between;
    }	
    .menu_el{
    	display: contents;
	    float: none;
	    padding: 0;
	    vertical-align: top;
	    .menu_inner{
	    	padding: 20px 20px 4px;
	    	span,a{
				color: #111;
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: 0.4px;
				display: table-cell;
			}
	    }
	    .list_inner{
	    	padding-right: 24px;
	    }
	    .list_inner a.link::after{
			content: "";
			width: 12px;
		    position: relative;
		    height: 7px;
		    display: inline-block;
		    left: 8px;
    		bottom: 1px;
			background: url(../img/arrow.png)
		}
		.list_inner.active a.link::after{
			background: url(../img/arrow_long.jpg);
			height: 31px;
			z-index: 222;
			top: 25px;
		}
    }
    .menu_content{
		display: none;
		z-index: 200;
	    overflow: hidden;
	    position: absolute;
	    left: 0;
	    margin: 8px auto;
	    background: #fff;
	    padding: 0;
	    border-top: 1px solid #d0d0d0;
	    box-shadow: 0 29px 40px 0 rgba(0,0,0,0.13);
	    .menu_contentb{
	    	margin: 0 auto;
	    	display: flex;
	    	padding: 60px 0 35px 0;
	    }
	    .upmenu_cont{
	    	display: block;
	   		width: unset;
	   		min-width: 230px;
	   		ul{
	   			margin-left: 0;
				-webkit-columns: unset;
				-moz-columns: unset;
				columns: unset;
				display: flex;
				flex-direction: column;
			    li{
			    	display: inline-block;
			    	min-width: 150px;
			    	padding-right: 40px;
					a{
						color: #626f78;
						padding-bottom: 19px;
						display:block;
					}
				}
	   		}
	    }
	}
	.header_search{
		margin: 0 8px 4px;
		a{
			display: table;
		}
	}
	.header_bottom_icons{
		div{
			margin: 0 10px 4px;
			display: inline-block;
		}
		.mb_mop{
			display: none;
		}
		img{
		}
		a{
			display: table;
		}
		.header_like{
			.count{
				color: #e5175b;
				font-weight: 700;
				letter-spacing: 0.04em;
				display: inline-block;
				margin: 0 0 0 8px;
			}
		}
		.header_basket{
			margin-right: 0;
			.count{
				color: #00aba4;
				font-weight: 700;
				letter-spacing: 0.04em;
				display: inline-block;
				margin: 0 0 0 8px;
			}
		}
	}
	.header__element{
		position: relative;
	}
	.search-menu-block{
		position: absolute;
		right: 0;
		top: 0;
		background: #fff;
		width: 0;
		box-sizing: border-box;
		height: 54px;
		transition: 300ms;
		overflow: hidden;
		z-index: 400;
		div{
			margin: 0;
		}
		.search-input{
		    font-size: 16px;
		    border: none;
		    color: #626f78;
		    width: 100%;
		}
		.row{
			display: block;
			margin: 16px 14px 14px 30px;
			border-bottom: 1px solid #a1a7ac;
			max-height: 21px;
			overflow: hidden;
		}
		.btn-block{
			margin-left: -15px;
			margin-right: -15px;
		}
		button{
			background: #fff;
			color: #111;
			text-transform: uppercase;
			font-size: 16px;
			font-weight: 700;
			letter-spacing: 0.4px;
			margin: 0 33px 0 0;
		}
		.close-search-btn{
			padding-left: 20px;
			cursor: pointer;
		}
	}
	.search-menu-block.show{
		width: 100%;
	}
}
section{
	position: relative;
	overflow: auto;
	margin-bottom: 70px;
}
.content,.offer_blocks,.catalog_blocks{
	margin: 0 auto;
}
.modal{
	display: none;
	opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: #d0d0d0;
    transition: none;
}
.left_menu, .main_banner{
	display: inline-block;
}
.left_menu{
	p{
		a{
			color: #111;
			font-weight: bold;
			font-size: 24px;
			text-transform: uppercase;
			margin: 0;
			padding: 0 10px 0 6px;
			display: inline-block;
			line-height: 23px;
			background: linear-gradient(to top, #a7dbf8 0%, #a7dbf8 29%, white 30%, white 100%);
			background: -moz-linear-gradient(bottom, #a7dbf8 0%, #a7dbf8 29%, white 30%, white 100%);
	  		background: -webkit-gradient(linear, bottom, color-stop(0%, #a7dbf8), color-stop(29%, #a7dbf8), color-stop(30%, white), color-stop(100%, white));
	  		background: -webkit-linear-gradient(bottom, #a7dbf8 0%, #a7dbf8 29%, white 30%, white 100%);
	  		background: -o-linear-gradient(bottom, #a7dbf8 0%, #a7dbf8 29%, white 30%, white 100%);
	  		background: -ms-linear-gradient(bottom, #a7dbf8 0%, #a7dbf8 29%, white 30%, white 100%);
  		}
	}
	a{
		display: block;
		color: #111;
		margin: 16px 0 16px 6px;
		font-family: ProximaNova;
		font-weight: bold;
		font-size: 17px;
	}
	.left_menu_services{
		margin-top: 42px;
	}
	.left_menu_catalog a:last-child, .left_menu_services a:last-child{
		margin-bottom: 0px;
	}
}
.main_banner{
	float: right;
}
.thumbnail{
	display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.offer_on_main{
	background: #f6f6f6;
	margin-top: 92px;
	.offer_blocks{
		padding: 30px 0;
		.p_blocks{
			li{
				display: table-cell;
				font-size: 24px;
				font-weight: bold;
				letter-spacing: 0.3px;
				color: #626f78;
				padding: 18px 83px 18px 0;
				cursor: pointer;
			}
			li.active,li:hover{
				color: #212121;
			}
		}
		.filter_button{
			text-transform: uppercase;
			font-size: 16px;
			color: #212121;
			margin-top: 18px;
			font-weight: bold;
			cursor: pointer;
			display: inline-block;
			span{
				margin-left: 7px;
				background: url(../img/icon-plus-hover.png)
			}
		}
		.filter_button.active{
			color: #00aba4;
		}
		.filter_button:hover{
			color: #a1a7ac;
		}
	}
	.catalog_blocks{
		padding-bottom: 58px;
		display: table;
		.row{
			overflow: unset;
		}
		.block_bb{
			display: none;
		}
		.block_bb.active{
			display: block;
		}
		.product_item{
		    margin: 20px 0;
			text-align: center;
			background: #fff;
		    position: relative;
		    display: inline-block;
		    vertical-align: top;
		    box-sizing: border-box;
		    max-width: 100%;
		    min-height: 351px;
		    span{
				display: inline-block;
				width: 100%;
				text-align: center;
				font-weight: bold;
				font-size: 18px;
				color: #000;
			}
			span.act{
				color: #fd4e3d;
			}
			span.old{
				color: #959595;
				text-decoration: line-through;
				margin: 8px 0 0;
			}
		    .image{
		    	min-height: 175px;
		    	width: 100%;
    			position: relative;
    			.like_icons{
    				position: absolute;
    				top: 14px;
    				right: 14px;
    				z-index: 4;
    				span{
    					visibility: visible;
    					display: block;
    					cursor: pointer;
    					i{
    						background: url('../img/like.png');
    						display: block;
    						width: 20px;
    						height: 17px;
    					}
    					i:hover{
    						background: url('../img/like_add.png');
    					}
    				}
    			}
    			a{
    				display: inline-block;
    			}
    			img{
    				max-width: 100%;
    				height: auto;
    				display: block;
    			}
    			.thumbnail{
    				border: none;
				    top: 0;
				    width: 100%;
				    z-index: 1;
				    text-align: center;
    			}
		    }
		    .flaglist{
		    	position: absolute;
		    	z-index: 3;
		    	display: block;
		    	width: 100%;
		    	text-align: center;
		    	bottom: 40px;
		    	top: initial;
		    	.flag{
		    		display: inline-block;
		    		padding: 0 6px;
		    	}	
		    	.flag.sale{
		    		color: #fd4e3d;
		    		border: 1px solid #fd4e3d;
		    	}
		    	.flag.hit{
		    		color: #01b5ea;
		    		border: 1px solid #01b5ea;
		    	}
		    	.flag.new{
		    		color: #0bb998;
		    		border: 1px solid #0bb998;
		    	}
		    }
		}
		.product_item:hover{
			box-shadow: 0 0 25px 0 #d4d2d2;
			overflow: hidden;
			position: absolute;
			left:0;
			z-index: 200;
		}
		.col-descr{
			margin-bottom: 17px;
		}
		.name{
			font-size: 18px;
			font-weight: bold;
			color: #212121;
			margin: 0 35px 17px;
			display: block;
			line-height: 24px;
		}
		.col-buttons{
			display: none;
			span{
				color: #959595;
				font-size: 17px;
				font-weight: normal;
				cursor: pointer;
			}
			.add_basket{
				width: 190px;
				margin: 0 auto;
				span{
					border-radius: 23px;
					display: block;
					background: #0bb998;
					color: #fff;
					text-transform: uppercase;
					font-size: 16px;
					padding: 13px 0;
				}
				span:hover{
					background: #ff7373;
				}
			}
			.buy_one_click{
				margin: 23px 0 13px;
			}
			.info_stock{
				margin-bottom: 23px;
			}
			.buy_one_click span,.info_stock span{
				display: inline;
				border-bottom: 1px dotted #959595;

			}
		}
		.product_item:hover .col-buttons{
			display: block;
		}
		.paginate{
			width: 100%;
			display: inline-block;
			text-align: center;
			margin-top: 50px;
			a{
				width: 210px;
				display: inline-block;
				text-transform: uppercase;
				height: 46px;
				line-height: 46px;
				border-radius: 23px;
				border: 1px solid #d4d3d3;
				color: #00666d;
				font-size: 16px;
				letter-spacing: 0.5px;
				font-weight: bold;
				span{
					margin-left: 15px;
				}
			}
			a:hover{
				color: #00666d!important;
				border: 1px solid #212121;
			}
		}
	}
}
.filter_content{
	margin: 43px 0;
	display: none;
	.tabs-section{
		display: inline-block;
		/*margin-right: 94px;*/
		span{
			color: #212121;
			font-size: 14px;
			text-transform: uppercase;
			display: inline-block;
			font-weight: 700;
			cursor: pointer;
		}
		span:first-child{
			margin-right: 5px;
		}
		span.tb{
			text-transform: unset;
		    padding: 6px 11px;
		    margin: 0 5px;
		    border: 1px solid #a1a7ac;
		}
		span.tb.active{
			color: #00aba4;
			border: 1px solid #00aba4;
		}
	}
	.tabs-sort{
		display: inline-block;
		/*margin-right: 104px;*/
		.ui.dropdown:not(.button)>.default.text{
			color: #212121;
		}
		.ui.selection.dropdown{
			margin-bottom: 32px;
			padding-top: 7px;
			padding-bottom: 6px;
			min-height: auto;
			line-height: 10px;
			border: 1px solid #a1a7ac;
			background: #f6f6f6;
			border-radius: 0;
		}
		.ui.dropdown>.dropdown.icon:before{
			content: '';
			background: url('../img/arrow.png');
			width: 12px;
			height: 7px;
			right: 6px;
    		top: 9px;
    		position: absolute;
		}
		.text{
			min-width: 160px;
			font-weight: 700;
		}
		.ui.dropdown .menu>.item:hover{
			background: #fff;
			color: #14b6a9;
		}
		.ui.dropdown .menu>.item{
			font-size: 14px;
		}
	}
	.tabs-price{
		display: inline-block;
		padding: 4px 0;
		text-align: right;
		input{
			width: 82px;
			border: 1px solid #a1a7ac;
			background: #f6f6f6;
			padding: 2px 15px 2px 10px;
			font-weight: 700;
		}
		span:first-child{
			margin-right: 5px;
			font-weight: 700;
		}
		span.rub{
			display: unset;
		}
		span.rub::after{
			content: "₽";
			font-family: "ALSRubl";
			font-weight: 600;
			display: inline-block;
			position: relative;
			right: 15px;
		}
		span:last-child{
			margin-right: 0;
		}
	}
}
span.icon-plus{
	background: url('../img/icon-plus.png');
	width: 11px;
	height: 11px;
	display: inline-block;
}
.fa-arr-right,.fa-arr-left{
	background: url('../img/arrow-np.png');
	width: 20px;
	height: 19px;
	display: inline-block;
}
.fa-arr-left{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}
.advantages_on_main{
	.advantages{
		margin: 96px auto;
		position: relative;
		.adv_title{
			font-size: 24px;
			font-weight: 700;
			text-transform: uppercase;
			line-height: 34px;
			position: absolute;
		}
		.owl-carousel{
			padding-top: 90px;
		}
		.owl-nav{
			position: absolute;
			top: 0;
			left: 50%;
			margin-top: 0;
			.owl-next,.owl-prev{
				margin: 5px 17px;
			}
		}
		.item{
			max-width: 190px;
			img{
				width: auto;
			}
			p{
				line-height: 24px;
			}
			.adv_main{
				margin-top: 28px;
				font-family: 'ProximaNova Bold';
				font-size: 18px;
			}
			.adv_oth{
				font-size: 16px;
			}
		}
	}
}
.brands_on_main{
	background: #f6f6f6;
	.advantages{
		margin: 0 auto;
		padding: 84px 0;
		.item{
			display: inline-block;
		}
	}
}
.interactive_block{
	margin: 80px auto;
	a{
		display: block;
	}
	.item{
		display: inline-block;
		max-height: 355px;
	}
	.cert{
		width: 44.5%;
		float: left;
		/*background: url(../img/cert-background.jpg) no-repeat;*/
		.title{
			/*font-size: 24px;
			line-height: 36px;
			letter-spacing: 0.5px;
			color: #e4125c;
			text-transform: uppercase;
			font-weight: 700;*/
		}
		.button{
			/*font-size: 18px;
			line-height: 36px;
			letter-spacing: 0.5px;
			color: #959595;
			text-transform: uppercase;
			font-weight: 700;*/
		}
	}
	.video{
		width: 55.5%;
	}
}
.news-main{
	overflow: auto;
	.news__elements{
		margin-top: 60px;
	}
	.news__block{
		overflow: auto;
		margin: 95px auto;
		.news__title{
			font-size: 24px;
			font-weight: 700;
			text-transform: uppercase;
			line-height: 34px;
		}
		.news__link a{
			display: inline;
    		border-bottom: 1px dotted #959595;
    		color: #959595;
    		font-size: 18px;
    		font-weight: 700;
    		line-height: 34px;
		}
		.news__link a:hover{
			color: #d4d3d3!important;
			border-bottom: 1px dotted #d4d3d3;
		}
		.col-news{
			max-width: 285px;
			a{
				display: block;
			}
			.name{
				color: #0bb998;
				font-size: 18px;
				font-weight: 700;
				line-height: 24px;
				margin: 24px 50px 13px 0;
			}
			.preview{
				color: #212121;
				line-height: 18px;
			}
		}
	}
}
footer{
	overflow: auto;
	background: #00666d;
	padding: 44px 0;
	.row{
		margin: 0;
		overflow: auto;
	}
	.footer__content{
		margin: 0 auto;
		color: #fff;
	}
	.logo_min{
		display: block;
		color: #fff;
		span{
			display: block;
			margin: 19px 0 22px;
		}
	}
	.callCenter{
		line-height: 20px;
	}
	.companyInformation{
		margin: 25px 0;
	}
	.infonmUnit,.infonmUnit a{
		width: 100%;
		color: #a7c9cc;
		padding-top: 9px;
	}
	.footerMenu {
		margin-top: 10px;
		li{
			list-style-type: none;
	    	position: relative;
	    	margin-bottom: 17px;
	    	a,a:hover{
	    		color: #a7c9cc !important;
	    	}
    	}
	}
	.soclinks{
		margin-top: 40px;
		a{
			display: block;
			color: #fff;
			line-height: 26px;
			font-size: 12px;
			text-transform: uppercase;
		}
	}
	.halva_logo{
		.lineColum{
			margin-top: 9px;
			margin-right: 5px;
		    display: inline-block;
		    float: left;
		}
		a{
			display: inline-block;
			margin: 0 7px;
			img{
				border-radius: 3px;
			}
		}
	}
}
.page_const{
	a, a:active{
		color: #00aba4;
	}
	p{
		font-size: 18px;
		line-height: 24px;
		padding-bottom: 33px;
	}
	p.main_p{
		font-size: 24px;
		font-weight: bold;
		padding-bottom: 13px;
		line-height: 32px;
	}
	.bnt__base{
		max-width: 285px;
		display: block;
		background: #00aba4;
		color: #fffefe;
		font-size: 16px;
		span{
			text-transform: uppercase;
		}
	}
	.btn__salon{
		padding: 30px;
		span{
			padding: 0 0 0 50px;
			position: relative;
			display: block;
		}
		span::before{
			content: "";
			background: url(../img/icon-map.png);
			width: 25px;
			height: 32px;
			position: absolute;
			left: 0;
		}
	}
}