@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proximanova-reg.eot');
    src: url('../fonts/proximanova-reg.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-reg.woff') format('woff'), url('../fonts/proximanova-reg.ttf') format('truetype'), url('../fonts/proximanova-reg.svg#proximanova-reg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova Bold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_lt';
    src: url('../fonts/proximanova-light-webfont.eot');
    src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-light-webfont.woff') format('woff'), url('../fonts/proximanova-light-webfont.ttf') format('truetype'), url('../fonts/proximanova-light-webfont.svg#proxima_nova_ltlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none
}
html{
	height: 100%;
}
body{
	font-family: 'ProximaNova';
	font-size: 14px;
	font-weight: 400;
	color: #363636;
	height: 100%;
}
h1{
	font-size: 32px;
	line-height: 54px;
	font-weight: bold;
	text-transform: uppercase
}
h2{
	margin-bottom: 40px;
	font-size: 24px;
	line-height: 23px;
	font-weight: 900;
	text-transform: uppercase
}
h3{
	margin-top: 50px;
	font-size: 24px;
	line-height: 23px
}
a{
	outline: none;
	text-decoration: none
}
img{
	max-width: 100%;
	height: auto
}
header{
	margin-bottom: 50px;
}
.header_top{
	background: #dfedee;
	.header_top_back{
	margin: 0 auto;
		div{
			display: inline-block;
			margin: 10px 0;
		}
		.header_top_socserv{
			a {
				color: #627176;
				margin-right: 30px;
			}
		}
		.header_top_city{
			margin: 0 40px;
			a{
				color: #111;
				border-bottom: 1px dotted #111;
				font-weight: bold;
				letter-spacing: 0.08em;
			}
		}
		.header_top_phone{
			a{
				color: #111;
				font-weight: bold;
			}	
		}
		.header_top_text{
			p{
				color: #627176;
				margin: 0 50px;		
			}
		}
		.header_top_record{
			float: right;
			a{
				color: #006666;
				font-weight: bold;
				text-transform: uppercase;
				border-bottom: 1px dotted #006666;
				letter-spacing: 0.08em;
			}
		}
	}
}
.header_bottom{
	margin: 33px auto;
	display: table;
	div{
		display: table-cell;
	}
	.header_bottom_menu{
		display: table;
    	justify-content: space-between;
    	position: relative;
    	.menu_el{
    		display: table-cell;
		    float: none;
		    padding: 0;
		    vertical-align: top;
		    .menu_inner{
		    	padding: 20px 28px 0;
		    	a{
					color: #111;
					font-weight: bold;
					text-transform: uppercase;
					letter-spacing: 0.08em;
				}
		    }
    	}
	}
	img{
		background: #037477;
	}
}
.content{
	margin: 0 auto;
}
.left_menu, .main_banner{
	display: inline-block;
}
.left_menu{
	p{
		a{
			color: #111;
			font-weight: bold;
			font-size: 25px;
			text-transform: uppercase;
			margin: 0;
			padding-right: 10px;
			display: inline-block;
			background: linear-gradient(to top, #8ddcf9 0%, #8ddcf9 40%, white 30%, white 100%);
			background: -moz-linear-gradient(bottom, #8ddcf9 0%, #8ddcf9 40%, white 30%, white 100%);
	  		background: -webkit-gradient(linear, bottom, color-stop(0%, #8ddcf9), color-stop(40%, #8ddcf9), color-stop(30%, white), color-stop(100%, white));
	  		background: -webkit-linear-gradient(bottom, #8ddcf9 0%, #8ddcf9 40%, white 30%, white 100%);
	  		background: -o-linear-gradient(bottom, #8ddcf9 0%, #8ddcf9 40%, white 30%, white 100%);
	  		background: -ms-linear-gradient(bottom, #8ddcf9 0%, #8ddcf9 40%, white 30%, white 100%);
  		}
	}
	a{
		display: block;
		color: #111;
		margin: 15px 0;
		font-family: proxima_nova_lt;
		font-weight: bold;
		font-size: 16px;
	}
}
.main_banner{
	float: right;
}
@media screen and (min-width: 1200px){
	.header_top_back, .header_bottom, .content{
		width:1200px;
	}
}