*{	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none
}
html{
	height: 100%;
}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #363636;
	height: 100%;
}
h1{
	font-size: 32px;
	line-height: 54px;
	font-weight: bold;
	text-transform: uppercase
}
h2{
	margin-bottom: 40px;
	font-size: 24px;
	line-height: 23px;
	font-weight: 900;
	text-transform: uppercase
}
h3{
	margin-top: 50px;
	font-size: 24px;
	line-height: 23px
}
a{
	outline: none;
	text-decoration: none
}
img{
	max-width: 100%;
	height: auto
}
header{
	background: #dfedee;
}
.header--top{
	margin: 0 auto;
	div{
		display: inline-block;
		margin: 10px 0;
	}
	.header--top--socserv{
		a {
			color: #627176;
			margin-right: 30px;
		}
	}
	.header--top--city{
		margin: 0 40px;
		a{
			color: #111;
			text-decoration: dashed;
			font-weight: bold;
		}
	}
	.header--top--phone{
		a{
			color: #111;
			font-weight: bold;
		}	
	}
	.header--top--text{
		p{
			color: #627176;
			margin: 0 30px;		
		}
	}
	.header--top--record{
		a{
			color: #006666;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: dashed;
		}
	}
}
@media screen and (min-width: 1200px){
	.header--top{
		width:1200px;
	}
}