doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" type="text/css" href="./styles/test.css")
		link(rel="stylesheet" type="text/css" href="./styles/media.css")
		link(rel="stylesheet" type="text/css" href="./styles/normalize.css")
		link(rel="stylesheet" type="text/css" href="./styles/bootstrap.css")
		link(rel="stylesheet" type="text/css" href="./styles/dropdown.min.css")
		link(rel="stylesheet" type="text/css" href="./styles/transition.min.css")
		link(rel="stylesheet" type="text/css" href="./styles/owl.carousel.min.css")
		script(type="text/javascript" src="./js/jquery.min.js")
		script(type="text/javascript" src="./js/owl.carousel.min.js")
		script(type="text/javascript" src="./js/dropdown.min.js")
		script(type="text/javascript" src="./js/transition.min.js")
		script(type="text/javascript" src="./js/main.js")
	body
		include header
		//Begin content
		section
			.content
				.pagePath
					div
						a(href="/") Главная
						span  / 
						|Акции
				.page_const
					.row.row-flex
						.col-md-3.col-sm-6.col-xs-12
							h1 Акции
						.col-md-8.col-sm-6.col-xs-12
							a.grey_a(href="./constant-offers.html") Постоянные предложения
					.row.row-flex.action__row
						- for (var x = 0; x < 4; x++)
							.col-md-4.col-sm-6.action__element
								a(href="#")
									img(src="./img/action1.jpg")
								span.descr_sp Акция действует с 13 августа по 30 сентября 2018 г
								a.title_a(href="#") Бесплатная проверка зрения при заказе
							.col-md-4.col-sm-6.action__element
								a(href="#")
									img(src="./img/action2.jpg")
								span.descr_sp Акция действует с 13 августа по 30 сентября 2018 г
								a.title_a(href="#") Подарок при покупке Acuvue
							.col-md-4.col-sm-6.action__element
								a(href="#")
									img(src="./img/action3.jpg")
								span.descr_sp Акция действует с 13 августа по 30 сентября 2018 г
								a.title_a(href="#") Бесплатная проверка зрения при заказе
					.paginate.show_more_positions
							a(href="#") Показать ещё
								span.icon-plus
		//End content
		include footer
		.modal