doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" type="text/css" href="./styles/test.css")
		link(rel="stylesheet" type="text/css" href="./styles/media.css")
		link(rel="stylesheet" type="text/css" href="./styles/normalize.css")
		link(rel="stylesheet" type="text/css" href="./styles/bootstrap.css")
		link(rel="stylesheet" type="text/css" href="./styles/dropdown.min.css")
		link(rel="stylesheet" type="text/css" href="./styles/transition.min.css")
		link(rel="stylesheet" type="text/css" href="./styles/owl.carousel.min.css")
		link(rel="stylesheet" type="text/css" href="./styles/owl.theme.default.min.css")
		script(type="text/javascript" src="./js/jquery.min.js")
		script(type="text/javascript" src="./js/owl.carousel.min.js")
		script(type="text/javascript" src="./js/dropdown.min.js")
		script(type="text/javascript" src="./js/transition.min.js")
		script(type="text/javascript" src="./js/main.js")
	body
		include header
		//Begin content
		section
			.content
				.pagePath
					div
						a(href="/") Главная
						span  / 
						a(href="company.html") Компания
						span  / 
						|Контакты
				.page_const
					h1 Контакты
					.row.row-flex
						.col-md-4.col-sm-6.col-xs-12
							p.main_p Справочная служба
							p 8 800 234-11-99<br/>(звонок бесплатный)
							p.main_p Центральный офис
							p 603006, Нижний Новгород,<br/>пл. Свободы, д. 2
							p Телефон: +7(831)421-11-01<br/>Факс: +7(831)421-11-01<br/>E-mail: <a href="mailto:info@cronos.pro">info@cronos.pro</a>
							a.bnt__base.btn__salon(href="#")
								span Посмотреть <br>адреса салонов
						.col-md-4.col-sm-6.col-xs-12
							p.main_p Реквизиты компании
							p Общество с ограниченной <br>ответственностью «КРОНОС» <br>(ООО «КРОНОС»)
							p ОГРН 1025203022096<br>ИНН 5260027130<br>КПП 526001001
							p.main_p Юридический <br/>и фактические адреса
							p г. Нижний Новгород<br>пл. Свободы, д. 2
							p Телефон: +7(831)421-11-01 (многоканальный)<br/>Факс: +7(831)428-85-84
						.col-md-4.col-sm-12.col-xs-12
							p.main_p Банковские реквизиты
							p Юридический адрес: ООО «Кронос», <br>603006, г. Нижний Новгород, пл. <br>Свободы, д. 2, пом. 9, оф. 35.
							p ИНН 5260027130<br>КПП 526001001<br>Банк АО «ВОКБАНК» г. Н.Новгород<br>Р/сч. 40702810100000013309<br>Кор./сч. 30101810700000000722<br>ОГРН 1025203022096<br>БИК 042202722
					.row.row-flex
						.col-md-12
							img.map(src="./img/map.jpg")
					.row.row-flex
						.col-md-4.col-sm-12
							a.bold_a(href="#") Порядок и условия предоставления медицинской помощи
						.col-md-4.col-sm-12
							a.bold_a(href="#") Сертификаты соответствия
							a.bold_a(href="#") Пользовательское соглашение
						.col-md-4.col-sm-12
							a.bold_a(href="#") Адреса и телефоны органов исполнительной власти, контролирующих деятельность ООО «КРОНОС-Мед»		
		//End content
		include footer
		.modal