//Begin footer
footer
	.footer__content
		.row
			.col-md-3.col-sm-3.col-xs-12
				a.logo_min(href="/")
					img(src="./img/logo_footer.png")
					span ООО «Кронос»
				.callCenter Прием заказов: круглосуточно<br><br>Обработка заказов: <br>с 09:00 до 20:00 по будням<br>с 10:00 до 18:00 по выходным.
				.companyInformation
					table.infonmUnit
						tbody
							tr
								td Телефон:
								td
									a.noUnderline(href="tel:+78002341199") +7 800 234 11 99,
							tr
								td 	факс:
								td
									a.noUnderline(href="tel:+78314288584") +7 831 428 85 84
			.footerMenu__mobile.col-xs-12
				ul
					li
						a(href="#") Компания
					li
						a(href="#") Интернет-магазин
					li
						a(href="#") Услуги
			.col-md-3.col-sm-3.text-left
				ul.footerMenu
					li
						a(href="#") Контактные линзы
					li
						a(href="#") Медицинские оправы и очки
					li
						a(href="#") Солнцезащитные очки
					li
						a(href="#") Наблюдательная оптика
					li
						a(href="#") Подарочные сертификаты
					li
						a(href="#") Сопутствующие товары
					li
						a(href="#") Оплата и доставка интернет-магазина
			.col-md-4.col-sm-4.text-left
				ul.footerMenu
					li
						a(href="#") Проверка зрения
					li
						a(href="#") Детский врач и кабинет охраны зрения
					li
						a(href="#") Цены на услуги
					li
						a(href="#") Отзывы
					li
						a(href="#") Подбор и изготовление очков
					li
						a(href="#") Подбор и виды контактных линз
					li
						a(href="#") Ремонт и сервисное обслуживание очков
			.col-md-2.col-sm-2.text-left
				ul.footerMenu
					li
						a(href="#") О компании
					li
						a(href="#") Новости и блог
					li
						a(href="#") Карьера
					li
						a(href="#") Арендодателям
					li
						a(href="#") Контакты
				.soclinks
					a(href="#") Instagram
					a(href="#") Вконтакте
					a(href="#") Facebook
		.row
			.col-md-3.col-sm-3.col-xs-12
				p.infonmUnit
						a(href="mailto:ishop@cronos.pro") ishop@cronos.pro
			.col-md-9.col-sm-9.col-xs-12
				.halva_logo
					.lineColum Мы принимаем:
					.imageColum
						a(href="#")
							img(src="./img/halva_logo.jpg")
						a(href="#")
							img(src="./img/sovest_logo.jpg")
						a(href="#")
							img(src="./img/viza_logo.png")
//End footer