//Begin header
header
	.header__top
		.header__top__back
			.header__top__socserv
				noindex
					a(href="#") INSTAGRAM
					a(href="#") ВКОНТАКТЕ
					a(href="#") FACEBOOK
			.header__top__city
				a(href="#") Нижний Новгород
			.header__top__phone
				a(href="tel:88002341199") 8 800 234 11 99
			.header__top__text
				p Звонок по России - бесплатный
			.header__top__record
				a(href="#") Записаться ко врачу
	.header_bottom.ver__tab
		.header__burger.mb
		.header_bottom_logo.mb
			a(href="/")
				img(src="./img/logo.png")
		.header__element.mb
			.header_menu_desktop
				.menu_el
					.menu_inner.list_inner
						a.link(href="#") Компания
						.menu_content
							.menu_contentb
								.upmenu_cont
									ul
										li.newmenu_element
											a(href="#") О компании
										li.newmenu_element
											a(href="./news.html") Новости и блог
								.upmenu_cont
									ul
										li.newmenu_element
											a(href="#") Карьера
										li.newmenu_element
											a(href="#") Миссия и ценности
								.upmenu_cont
									ul
										li.newmenu_element
											a(href="#") Арендодателям
										li.newmenu_element
											a(href="./contacts.html") Контакты
				.menu_el
					.menu_inner.list_inner
						a.link(href="#") Интернет-магазин
						.menu_content
							.menu_contentb
								.upmenu_cont
									ul
										li.newmenu_element
											a(href="#") Контактные линзы
										li.newmenu_element
											a(href="#") Медицинские оправы и очки
								.upmenu_cont
									ul
										li.newmenu_element
											a(href="./solntsezashchitnye-ochki-section.html") Солнцезащитные очки
										li.newmenu_element
											a(href="#") Подарочные сертификаты
								.upmenu_cont
									ul
										li.newmenu_element
											a(href="#") Сопутствующие товары
										li.newmenu_element
											a(href="#") Оплата и доставка интернет-магазина
				.menu_el
					.menu_inner.list_inner
						a.link(href="#") Услуги
						.menu_content
							.menu_contentb
								.upmenu_cont
									ul
										li.newmenu_element
											a(href="#") Проверка зрения
										li.newmenu_element
											a(href="#") Детский врач и кабинет охраны зрения
										li.newmenu_element
											a(href="#") Цены на услуги
										li.newmenu_element
											a(href="#") Отзывы
								.upmenu_cont
									ul
										li.newmenu_element
											a(href="#") Подбор изготовление очков
										li.newmenu_element
											a(href="#") Подбор и виды контактных линз
										li.newmenu_element
											a(href="#") Ремонт и сервисное обслуживание очков
				.menu_el
					.menu_inner
						a(href="./action.html") Акции
				.menu_el
					.menu_inner
						a(href="#") Адреса салонов
				.header_search
					a(href="#")
						img(src="./img/search.png")
				form.search-menu-block(action="" method="get")
					.row
						#title-search.col-sm-8.col-md-9
							input.search-input(placeholder="Введите ваш запрос" type="text" size="15" maxlength="50")
						.col-sm-4.col-md-3
							.btn-block
								button(type="submit") Найти
								.close-search-btn
									img(src="./img/close.png")
		.header_bottom_icons.mb
				.header_user
					a(href="#")
						img(src="./img/user.png")
				.header_like
					a(href="#")
						img(src="./img/like.png")
						.count (40)
				.header_basket
					a(href="#")
						img(src="./img/basket.png")
						.count (12)
		.header_menu_mobile
			.menu_el
				.menu_inner.list_inner
					a.link(href="#") Компания
					.menu_content
						.menu_contentb
							.upmenu_cont
								ul
									li.newmenu_element
										a(href="#") О компании
									li.newmenu_element
										a(href="./news.html") Новости и блог
							.upmenu_cont
								ul
									li.newmenu_element
										a(href="#") Карьера
									li.newmenu_element
										a(href="#") Миссия и ценности
							.upmenu_cont
								ul
									li.newmenu_element
										a(href="#") Арендодателям
									li.newmenu_element
										a(href="./contacts") Контакты
			.menu_el
				.menu_inner.list_inner
						a.link(href="#") Интернет-магазин
						.menu_content
							.menu_contentb
								.upmenu_cont
									ul
										li.newmenu_element
											a(href="#") Контактные линзы
										li.newmenu_element
											a(href="#") Медицинские оправы и очки
								.upmenu_cont
									ul
										li.newmenu_element
											a(href="./solntsezashchitnye-ochki-section.html") Солнцезащитные очки
										li.newmenu_element
											a(href="#") Подарочные сертификаты
								.upmenu_cont
									ul
										li.newmenu_element
											a(href="#") Сопутствующие товары
										li.newmenu_element
											a(href="#") Оплата и доставка интернет-магазина
			.menu_el
				.menu_inner.list_inner
					a.link(href="#") Услуги
					.menu_content
						.menu_contentb
							.upmenu_cont
								ul
									li.newmenu_element
										a(href="#") Проверка зрения
									li.newmenu_element
										a(href="#") Детский врач и кабинет охраны зрения
									li.newmenu_element
										a(href="#") Цены на услуги
									li.newmenu_element
										a(href="#") Отзывы
							.upmenu_cont
								ul
									li.newmenu_element
										a(href="#") Подбор изготовление очков
									li.newmenu_element
										a(href="#") Подбор и виды контактных линз
									li.newmenu_element
										a(href="#") Ремонт и сервисное обслуживание очков
			.menu_el
				.menu_inner.action
					a(href="#") Акции
			.menu_el
				.menu_inner
					a(href="#") Адреса салонов
			.header__top__socserv
				noindex
					a(href="#") INSTAGRAM
					a(href="#") ВКОНТАКТЕ
					a(href="#") FACEBOOK
	.header_bottom.ver__mob
		.header__burger
		.header_bottom_logo
			img(src="./img/logo_mini.png")
		.header_bottom_icons
			.header_search
				a(href="#")
					img(src="./img/search.png")
			.header_user.mb_mop
				a(href="#")
					img(src="./img/user.png")
			.header_like.mb_mop
				a(href="#")
					img(src="./img/like.png")
					.count (40)			
			.header_basket
				a(href="#")
					img(src="./img/basket.png")
					.count (12)
			form.search-menu-block(action="" method="get")
				.row
					#title-search.col-xs-9
						input.search-input(placeholder="Введите ваш запрос" type="text" size="15" maxlength="50")
					.col-xs-3
						.btn-block
							button(type="submit")
							.close-search-btn
								img(src="./img/close.png")
		.header_menu_mobile
			.header__top__phone
				a(href="tel:88002341199") 8 800 234 11 99
			.menu_el
				.menu_inner.list_inner
					a.link(href="#") Компания
					.menu_content
						.menu_contentb
							.upmenu_cont
								ul
									li.newmenu_element
										a(href="#") О компании
									li.newmenu_element
										a(href="./news.html") Новости и блог
							.upmenu_cont
								ul
									li.newmenu_element
										a(href="#") Карьера
									li.newmenu_element
										a(href="#") Миссия и ценности
							.upmenu_cont
								ul
									li.newmenu_element
										a(href="#") Арендодателям
									li.newmenu_element
										a(href="./contacts.html") Контакты
			.menu_el
				.menu_inner.list_inner
						a.link(href="#") Интернет-магазин
						.menu_content
							.menu_contentb
								.upmenu_cont
									ul
										li.newmenu_element
											a(href="#") Контактные линзы
										li.newmenu_element
											a(href="#") Медицинские оправы и очки
								.upmenu_cont
									ul
										li.newmenu_element
											a(href="./solntsezashchitnye-ochki-section.html") Солнцезащитные очки
										li.newmenu_element
											a(href="#") Подарочные сертификаты
								.upmenu_cont
									ul
										li.newmenu_element
											a(href="#") Сопутствующие товары
										li.newmenu_element
											a(href="#") Оплата и доставка интернет-магазина
			.menu_el
				.menu_inner.list_inner
					a.link(href="#") Услуги
					.menu_content
						.menu_contentb
							.upmenu_cont
								ul
									li.newmenu_element
										a(href="#") Проверка зрения
									li.newmenu_element
										a(href="#") Детский врач и кабинет охраны зрения
									li.newmenu_element
										a(href="#") Цены на услуги
									li.newmenu_element
										a(href="#") Отзывы
							.upmenu_cont
								ul
									li.newmenu_element
										a(href="#") Подбор изготовление очков
									li.newmenu_element
										a(href="#") Подбор и виды контактных линз
									li.newmenu_element
										a(href="#") Ремонт и сервисное обслуживание очков
			.menu_el
				.menu_inner.action
					a(href="#") Акции
			.menu_el
				.menu_inner
					a(href="#") Адреса салонов
			.header__top__socserv
				noindex
					a(href="#") INSTAGRAM
					a(href="#") ВКОНТАКТЕ
					a(href="#") FACEBOOK
//End header