doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" type="text/css" href="./styles/test.css")
		link(rel="stylesheet" type="text/css" href="./styles/media.css")
		link(rel="stylesheet" type="text/css" href="./styles/normalize.css")
		link(rel="stylesheet" type="text/css" href="./styles/bootstrap.css")
		link(rel="stylesheet" type="text/css" href="./styles/dropdown.min.css")
		link(rel="stylesheet" type="text/css" href="./styles/transition.min.css")
		link(rel="stylesheet" type="text/css" href="./styles/owl.carousel.min.css")
		link(rel="stylesheet" type="text/css" href="./styles/owl.theme.default.min.css")
		script(type="text/javascript" src="./js/jquery.min.js")
		script(type="text/javascript" src="./js/owl.carousel.min.js")
		script(type="text/javascript" src="./js/dropdown.min.js")
		script(type="text/javascript" src="./js/transition.min.js")
		script(type="text/javascript" src="./js/main.js")
	body
		include header
		//Begin content
		section
			.content
				.menu_and_banner
					.left_menu__mobile
						div
							a(href="#")
								span.linz Линзы
						div
							a(href="#")
								span.opravi Оправы
						div
							a(href="#")
								span.ochki Солнечные очки
					.left_menu
						.left_menu_catalog
							p
								a(href="#") Каталог товаров
							a(href="#") Контактные линзы
							a(href="#") Медицинские оправы и очки
							a(href="#") Солнцезащитные очки
							a(href="#") Подарочные сертификаты
							a(href="#") Сопутствующие товары
						.left_menu_services
							p
								a(href="#") Услуги
							a(href="#") Проверка зрения
							a(href="#") Детский врач
							a(href="#") Подбор изготовление очков
							a(href="#") Подбор и виды контактных линз
							a(href="#") Ремонт и сервисное обслуживание очков
					.main_banner
						img.desktop-banner(src="./img/banner_2.jpg")
						img.mobile-banner(src="./img/banner_mobile.jpg")
			.offer_on_main
				.offer_blocks
					.p_blocks
						ul
							li.sale.active Распродажа
							li.hit Хиты продаж
							li.new Новинки
					.filter_block
						.filter_button Фильтр
							span.icon-plus
						.filter_content
							.row
								.tabs-sort.col-xs-12.col-sm-12.col-lg-12
									.ui.dropdown.selection
										input(type='hidden' name='sort')
										.default.text Цена, по возрастанию
										i.dropdown.icon
										.menu
											.item(data-value="PRICE_SALE") Распродажа
											.item(data-value="PRICE_ASC" selected="selected") Цена, по возрастанию
											.item(data-value="PRICE_DESC") Цена, по убыванию
											.item(data-value="MAKER_GL_ASC") Популярное
											.item(data-value="DATE_CREATED") Новизне, сначала новые
								.tabs-section.col-xs-12.col-sm-12.col-lg-8
									span Показать:
									span.tb.active(data-for='all') Все
									span.tb(data-for='opravy') Медицинские оправы
									span.tb(data-for='linzy') Контактные линзы
									span.tb(data-for='ochki') Солнцезащитные очки
									span.tb(data-for='other') Другое
								.tabs-price.col-xs-12.col-sm-12.col-lg-4
									span СТОИМОСТЬ
									span.rub
										input(name='arrFilter_before' value="37469")
									span -
									span.rub
										input(name='arrFilter_after' value="347469")
				.catalog_blocks
					.sale.active.block_bb
						.row
							- for (var x = 0; x < 4; x++)
								.col-sm-4.col-md-3.col-xs-6.product
									.product_item
										.row
											.col-xs-12.col-sm-12.col-image
												.image
													.like_icons
														span 
															i
													.thumbnail.two_img
														a(href="#")
															img.thumb(src="./img/ray-ban.jpg")
													.flaglist
														.flag.sale Распродажа -40%
											.col-xs-12.col-sm-12.col-descr
												a.name(href="#") Солнцезащитные очки Ray-Ban 4171-86513
												.price_bl
													span.act 4 000 руб. 
													span.old 4 100 руб.
											.col-xs-12.col-sm-12.col-buttons
												.add_basket
													span В корзину
												.buy_one_click
													span Купить в 1 клик
												.info_stock
													span Проверить наличие товара
						.row
							- for (var x = 0; x < 4; x++)
								.col-sm-4.col-md-3.col-xs-6.product
									.product_item
										.row
											.col-xs-12.col-sm-12.col-image
												.image
													.like_icons
														span 
															i
													.thumbnail.two_img
														a(href="#")
															img.thumb(src="./img/ray-ban.jpg")
													.flaglist
														.flag.sale Распродажа -40%
											.col-xs-12.col-sm-12.col-descr
												a.name(href="#") Солнцезащитные очки Ray-Ban 4171-86513
												.price_bl
													span.act 4 000 руб. 
													span.old 4 100 руб.
											.col-xs-12.col-sm-12.col-buttons
												.add_basket
													span В корзину
												.buy_one_click
													span Купить в 1 клик
												.info_stock
													span Проверить наличие товара
						.paginate.show_more_positions
							a(href="#") Показать ещё
								span.icon-plus
					.hit.block_bb
						.row
							- for (var x = 0; x < 4; x++)
								.col-sm-4.col-md-3.col-xs-6.product
									.product_item
										.row
											.col-xs-12.col-sm-12.col-image
												.image
													.like_icons
														span 
															i
													.thumbnail.two_img
														a(href="#")
															img.thumb(src="./img/ray-ban.jpg")
													.flaglist
														.flag.hit Хит продаж
											.col-xs-12.col-sm-12.col-descr
												a.name(href="#") Солнцезащитные очки Ray-Ban 4171-86513
												.price_bl
													span.act 4 000 руб. 
													span.old 4 100 руб.
											.col-xs-12.col-sm-12.col-buttons
												.add_basket
													span В корзину
												.buy_one_click
													span Купить в 1 клик
												.info_stock
													span Проверить наличие товара
						.row
							- for (var x = 0; x < 4; x++)
								.col-sm-4.col-md-3.col-xs-6.product
									.product_item
										.row
											.col-xs-12.col-sm-12.col-image
												.image
													.like_icons
														span 
															i
													.thumbnail.two_img
														a(href="#")
															img.thumb(src="./img/ray-ban.jpg")
													.flaglist
														.flag.hit Хит продаж
											.col-xs-12.col-sm-12.col-descr
												a.name(href="#") Солнцезащитные очки Ray-Ban 4171-86513
												.price_bl
													span.act 4 000 руб. 
													span.old 4 100 руб.
											.col-xs-12.col-sm-12.col-buttons
												.add_basket
													span В корзину
												.buy_one_click
													span Купить в 1 клик
												.info_stock
													span Проверить наличие товара
						.paginate.show_more_positions
							a(href="#") Показать ещё
								span.icon-plus
					.new.block_bb
						.row
							- for (var x = 0; x < 4; x++)
								.col-sm-4.col-md-3.col-xs-6.product
									.product_item
										.row
											.col-xs-12.col-sm-12.col-image
												.image
													.like_icons
														span 
															i
													.thumbnail.two_img
														a(href="#")
															img.thumb(src="./img/ray-ban.jpg")
													.flaglist
														.flag.new Новинка
											.col-xs-12.col-sm-12.col-descr
												a.name(href="#") Солнцезащитные очки Ray-Ban 4171-86513
												.price_bl
													span.act 4 000 руб. 
													span.old 4 100 руб.
											.col-xs-12.col-sm-12.col-buttons
												.add_basket
													span В корзину
												.buy_one_click
													span Купить в 1 клик
												.info_stock
													span Проверить наличие товара
						.row
							- for (var x = 0; x < 4; x++)
								.col-sm-4.col-md-3.col-xs-6.product
									.product_item
										.row
											.col-xs-12.col-sm-12.col-image
												.image
													.like_icons
														span 
															i
													.thumbnail.two_img
														a(href="#")
															img.thumb(src="./img/ray-ban.jpg")
													.flaglist
														.flag.new Новинка
											.col-xs-12.col-sm-12.col-descr
												a.name(href="#") Солнцезащитные очки Ray-Ban 4171-86513
												.price_bl
													span.act 4 000 руб. 
													span.old 4 100 руб.
											.col-xs-12.col-sm-12.col-buttons
												.add_basket
													span В корзину
												.buy_one_click
													span Купить в 1 клик
												.info_stock
													span Проверить наличие товара
						.paginate.show_more_positions
							a(href="#") Показать ещё
								span.icon-plus
			.advantages_on_main
				.advantages
					.adv_title Почему клиенты обращаются к нам:
					.owl-carousel.owl-theme.owl-advantages
						.item
							img(src='./img/no-imag.png')
							p.adv_main Высокоточное производство
							p.adv_oth Очки любой сложности
						.item
							img(src='./img/no-imag.png')
							p.adv_main Закажите<br/> в интернет-магазине
							p.adv_oth Доставим по России
						.item
							img(src='./img/no-imag.png')
							p.adv_main Близко к вашему дому и офису
							p.adv_oth Получите заказ в любой оптике сети
						.item
							img(src='./img/no-imag.png')
							p.adv_main Профессионалы<br/> в диагностике зрения
							p.adv_oth Эксперты в прогрессивных и контактных линзах
						.item
							img(src='./img/no-imag.png')
							p.adv_main Высокоточное производство
							p.adv_oth Очки любой сложности
			.interactive_block
				.interactive_elem
					.item.cert
						a(href="#")
							img(src="./img/cert.jpg")
							//.cert__element
							//	.col-sm-6
							//	.col-sm-6
							//		.title Подарочные сертификаты
							//		.button Перейти	
					.item.video
						img(src="./img/video.jpg")
			.advantages_on_main.brands_on_main
				.advantages
					.adv_title Мы работаем с лучшими брендами:
					.owl-carousel.owl-theme.owl-brands
						.item
							img(src='./img/best_partners2.png')
						.item
							img(src='./img/best_partners3.png')
						.item
							img(src='./img/best_partners4.png')
						.item
							img(src='./img/best_partners5.png')
						.item
							img(src='./img/best_partners7.png')
						.item
							img(src='./img/best_partners8.png')
						.item
							img(src='./img/best_partners9.png')
						.item
							img(src='./img/best_partners2.png')
			.news-main
				.news__block
					.news__title.col-md-4.col-sm-6 Новости и статьи:
					.news__link.col-md-8.col-sm-6
						a.grey_a(href="#") Смотреть все новости
					.news__elements.col-xs-12
						.row
							.col-xs-12.col-md-4.col-sm-6
								.col-news
									a(href="#")
										img(src="./img/news1.jpg")
									a.name(href="#") Почему вам необходимы вторые очки?
									.preview 
										|Специалисты в области оптики постоянно твердят о необходимости вторых очков, которые могут быть и просто запасными, и несколько отличаться по функционалу.
							.col-xs-12.col-md-4.col-sm-6
								.col-news
									a(href="#")
										img(src="./img/news2.jpg")
									a.name(href="#") Модные солнцезащитные очки 2017
									.preview 
										|Солнце все чаще радует нас своими яркими лучами, приближая лето. Пора задуматься о покупке солнцезащитных очков и узнать какие модели в тренде весной-летом 2017 года!
							.col-xs-12.col-md-4.col-sm-6
								.col-news
									a(href="#")
										img(src="./img/news3.jpg")
									a.name(href="#") Очки как у звезды
									.preview 
										|Очки уже давно перестали быть просто средством коррекции зрения. Сегодня это стильный аксессуар, с помощью которого можно скорректировать форму лица и эффектно дополнить образ.
		//End content
		include footer
		.modal