doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" type="text/css" href="./styles/test.css")
		link(rel="stylesheet" type="text/css" href="./styles/media.css")
	body
		//Begin header
		header
			.header--top
				.header--top--socserv
					noindex
						a(href="#") INSTAGRAM
						a(href="#") ВКОНТАКТЕ
						a(href="#") FACEBOOK
				.header--top--city
					a(href="#") Нижний Новгород
				.header--top--phone
					a(href="tel:88002341199") 8 800 234 11 99
				.header--top--text
					p Звонок по России бесплатный
				.header--top--record
					a(htef="#") Записаться ко врачу					
		//End header
		#fullpage
			section.section#firstPage
				//Begin banner
				.banner.js
					ul
						li Первый элемент списка
				//End banner
		//Begin footer
		footer
		//End footer			