doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" type="text/css" href="./styles/test.css")
		link(rel="stylesheet" type="text/css" href="./styles/media.css")
		link(rel="stylesheet" type="text/css" href="./styles/normalize.css")
		link(rel="stylesheet" type="text/css" href="./styles/bootstrap.css")
		link(rel="stylesheet" type="text/css" href="./styles/dropdown.min.css")
		link(rel="stylesheet" type="text/css" href="./styles/transition.min.css")
		link(rel="stylesheet" type="text/css" href="./styles/owl.carousel.min.css")
		link(rel="stylesheet" type="text/css" href="./styles/owl.theme.default.min.css")
		script(type="text/javascript" src="./js/jquery.min.js")
		script(type="text/javascript" src="./js/owl.carousel.min.js")
		script(type="text/javascript" src="./js/dropdown.min.js")
		script(type="text/javascript" src="./js/transition.min.js")
		script(type="text/javascript" src="./js/main.js")
	body
		include header
		//Begin content
		section
			.content
				.pagePath
					div
						a(href="/") Главная
						span  / 
						a(href="company.html") Контактные линзы
						span  / 
						|Астигматические линзы
				.page_const
					.catalog_list
						h1 Астигматические линзы
						.filter_content
							.tabs-sort
								.ui.dropdown.selection.sort
									.default.text Цена, по возрастанию
									i.dropdown.icon
									.menu
										.item(data-value="PRICE_SALE") Распродажа
										.item(data-value="PRICE_ASC" selected="selected") Цена, по возрастанию
										.item(data-value="PRICE_DESC") Цена, по убыванию
										.item(data-value="MAKER_GL_ASC") Популярное
										.item(data-value="DATE_CREATED") Новизне, сначала новые
						.filter_button_ct Фильтр
							span.icon-plus
						.filter_noselect
							.multifilter
								.multifilter__elem
									span.mf_ttl Производитель
									.arr_down_icon
								.multifilter__list
									div(data-id="1") Alcon
									div(data-id="1") CooperVision
									div(data-id="1") Johnson&Johnson
							.multifilter
								.multifilter__elem
									span.mf_ttl Бренд
									.arr_down_icon
								.multifilter__list
									div(data-id="1") Acuvue
									div(data-id="1") Air Oprix
							.multifilter
								.multifilter__elem
									span.mf_ttl Срок ношения
									.arr_down_icon
								.multifilter__list
									div(data-id="1") Один день
									div(data-id="1") Две недели
									div(data-id="1") Один месяц
							.multifilter
								.multifilter__elem
									span.mf_ttl Материал
									.arr_down_icon
								.multifilter__list
									div(data-id="1") силикон-гидрогелевые
									div(data-id="1") гидрогелевые
							div
								a.bt.smart_filter(href="#") Сбросить фильтр		
						.product_list
							.stroke_items
								.row.row-flex
									- for (var x = 0; x < 5; x++)
										.col-sm-4.col-md-3.col-xs-6.product
											.product_item
												.row.row-flex
													.col-xs-12.col-sm-12.col-image
														.image
															.like_icons
																span 
																	i
															.thumbnail.two_img
																a(href="#")
																	img.thumb(src="./img/linzy.jpg")
															.flaglist
																.flag.sale Распродажа -40%
													.col-xs-12.col-sm-12.col-descr
														a.name(href="#") Контактные линзы  Acuvue Oasys for Astigmatism
														.price_bl
															span.act 4 000 руб. 
															span.old 4 100 руб.
													.col-xs-12.col-sm-12.col-buttons
														.add_basket
															span В корзину
														.buy_one_click
															span Купить в 1 клик
														.info_stock
															span Проверить наличие товара
								.paginate.show_more_positions
									a(href="#") Показать ещё
										span.icon-plus
							.maker_block
								.row
									.col-md-3.col-sm-3.col-xs-6.item
										img(src="./img/logo_biosoft.png")
									.col-md-3.col-sm-3.col-xs-6.item
										img(src="./img/logo_alcon.png")
									.col-md-3.col-sm-3.col-xs-6.item
										img(src="./img/logo_lomb.png")
									.col-md-3.col-sm-3.col-xs-6.item
										img(src="./img/logo_johnson.png")
							.st_discription В нашем интернет-магазине Вы увидите лишь часть коллекции солнцезащитных очков, которая представлена в «Оптике Кронос». Мы отобрали ряд наиболее интересных, с нашей точки зрения, брендов, для того, чтобы Вы смогли оценить разнообразие, которое ждет Вас в наших салонах, где можно найти мужские, женские, детские солнцезащитные очки новых коллекций на любой вкус и для самых взыскательных клиентов.
		//End content
		include footer
		.modal