doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" type="text/css" href="./styles/test.css")
		link(rel="stylesheet" type="text/css" href="./styles/media.css")
		link(rel="stylesheet" type="text/css" href="./styles/normalize.css")
		link(rel="stylesheet" type="text/css" href="./styles/bootstrap.css")
		link(rel="stylesheet" type="text/css" href="./styles/owl.carousel.min.css")
		link(rel="stylesheet" type="text/css" href="./styles/jquery.bxslider.min.css")
		link(rel="stylesheet" type="text/css" href="./fonts/font_awesome/css/font-awesome.min.css")
		link(rel="stylesheet" type="text/css" href="./styles/titov.css")
		script(type="text/javascript" src="./js/jquery.min.js")
		script(type="text/javascript" src="./js/owl.carousel.min.js")
	body
		include header
		//Begin content
		section
			.content
				.pagePath
					div
						a(href="/") Главная
						span  / 
						a(href="services.html") Солнцезащитные очки
						span  / 
						|Солнцезащитные очки Ray-Ban 3016-W0365
				div
					.catalog_element
						.visible-xs
							h1 Солнцезащитные очки Ray-Ban 3016-W0365
						.element_block_1.item_slider
							.flex-slider
								.previewPic
									ul#miniProductCarousel.bxslider
										li.item(data-index="0")
											img(src="./img/ochki_element_mini.jpg")
										li.item(data-index="1")
											img(src="./img/ochki_element_empty.jpg")
										li.item(data-index="2")
											img(src="./img/ochki_element_empty.jpg")
										li.item(data-index="3")
											img(src="./img/ochki_element_empty.jpg")
										li.item(data-index="4")
											img(src="./img/ochki_element_empty.jpg")
										li.item(data-index="5")
											img(src="./img/ochki_element_empty.jpg")
								.mainPic
									ul#bigProductCarousel.bxslider
										li.item(data-index="0")
											img(src='./img/ochki_element.jpg')
										li.item(data-index="1")
											img(src='./img/ochki_element.jpg')
										li.item(data-index="2")
											img(src='./img/ochki_element.jpg')
										li.item(data-index="3")
											img(src='./img/ochki_element.jpg')
										li.item(data-index="4")
											img(src='./img/ochki_element.jpg')
										li.item(data-index="5")
											img(src='./img/ochki_element.jpg')
						.element_block_2.item_info
							h1 Солнцезащитные очки Ray-Ban 3016-W0365
							.priceProduct
								.mainPrice 7 345 <i class="fa fa-rub"></i>
							.buyBtn
								.item.add_basket
									span В корзину
								.item.buy_one_click
									span Купить в 1 клик
							.stockBtn
								.item.add_like
									a(href="javascript:void(0)") Добавить в избранное
								.item.stock_info
									a(href="javascript:void(0)") Наличие в салонах
								.item.pay_info
									a(href="#") Оплата и доставка
							.advan_block
								.item
									img(src="./img/noimg_adv_elem.png")
									p
										strong Бесплатная примерка <br/>перед покупкой на дому
								.item
									img(src="./img/noimg_adv_elem.png")
									p
										strong Бесплатная доставка <br/>от 1000 рублей
						.element_block_3.item_accordion.item_accordion_not_kl
							.plashka(data-title="charahClickLink") Характеристики
							#charahClickLink.item
								.ch_product
									.ch_product_line
										.name Пол
										.value <a href="#">Мужские</a><br/><a href="#">Женские</a><br/><a href="#">Унисекс</a>
									.ch_product_line
										.name Возраст
										.value Взрослые
									.ch_product_line
										.name Материал
										.value Комбинированные
									.ch_product_line
										.name Бренд
										.value Ray-Ban
									.ch_product_line
										.name Тип оправы
										.value Ободковая
									.ch_product_line
										.name Страна производства
										.value Италия
									.ch_product_line
										.name Цвет
										.value Черный
							.plashka.active(data-title="descripClickLink") Описание
							#descripClickLink.item.active
								div 
									p Солнцезащитные очки Ray-Ban Clubmaster — абсолютный хит на все времена. Модель, любимая и женщинами и мужчинами во всем мире. Комбинированная оправа из золотистого металла и черного пластика подходит к самым разным образам — и ультрамодным, и в стиле ретро. Классическая стеклянная линза от Ray-Ban обеспечивает защиту ваших глаз от вредного воздействия ультрафиолета.
							.plashka(data-title="freeDressLink") Бесплатная примерка очков
							#freeDressLink.item
								p Вы&nbsp;можете выбрать до&nbsp;5&nbsp;моделей очков для примерки, а&nbsp;затем оплатить только понравившиеся вам модели.
							.plashka(data-title="returnMoneyClickLink") Очки в рассрочку
							#returnMoneyClickLink.item
								p Каждую покупку можно оформить картами рассрочки "Халва" и "Совесть" до 12 месяцев без переплат, первоначального взноса и без процентов. Подробности оформления вы сможете найти <a href="/advantages/#halva_sovest">"здесь"</a>.
							.plashka(data-title="size") Размер
							.plashka(data-title="returnedAndExchangeClickLink") Возврат
							.plashka(data-title="garantClickLink") Гарантия качества
					.like_it_block
						.like_title Вам также могут понравиться:
						.owl-carousel.owl-theme.owl-offers
							- for (var x = 0; x < 5; x++)
								.product_item.item
									.row
										.col-xs-12.col-sm-12.col-image
											.image
												.like_icons
													span 
														i
												.thumbnail.two_img
													a(href="#")
														img.thumb(src="./img/ray-ban.jpg")
												.flaglist
													.flag.sale Распродажа -40%
										.col-xs-12.col-sm-12.col-descr
											a.name(href="#") Солнцезащитные очки Ray-Ban 4171-86513
											.price_bl
												span.act 4 000 руб. 
												span.old 4 100 руб.
										.col-xs-12.col-sm-12.col-buttons
											.add_basket
												span В корзину
											.buy_one_click
												span Купить в 1 клик
											.info_stock
												span Проверить наличие товара
		//End content
		script(type="text/javascript" src="./js/jquery.bxslider.min.js")
		script(type="text/javascript" src="./js/titov.js")
		script(type="text/javascript" src="./js/main.js")
		include footer
		.modal